.panel {
    font-size: var(--font-size-sm);
    background-color: var(--panel-background-color);
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 2px 0px;
}

.error {
    color: var(--danger-color);
    font-size: var(--font-size-xs);
}
