.tip {
    font-size: var(--font-size-sm);
    background-color: var(--panel-background-color);
    opacity: var(--opacity-high);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-sm);
    padding: 1px var(--spacing-xs);
    margin: 2px 0px;
}

.info {
    color: var(--info-color);
}

.warn {
    color: var(--warning-color);
}

.error {
    color: var(--danger-color);
}
