.root {
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacing-md);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    background-color: var(--panel-background-color);
    padding: 6px;

    .panel {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: var(--radius-md);
            padding: var(--spacing-xs);

            &:hover {
                background-color: var(--hover-background-color);
            }

            svg {
                width: 24px;
                height: 24px;
                margin: var(--spacing-xs);
            }

            span {
                font-size: var(--font-size-xs);
                user-select: none;
                cursor: default;
            }
        }
    }

    .spacer {
        height: 1px;
        width: 100%;
        background-color: var(--border-color);
        margin: 6px 0px;
    }

    .selectionCount {
        font-size: var(--font-size-sm);
        color: var(--text-secondary-color);
        margin-left: var(--spacing-xs);
        font-weight: 500;
    }
}
