dialog {
    border: none;
    box-shadow: var(--shadow-sm);
    border-radius: 16px;
    padding: 0px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.lottieContainer {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    position: relative;
    width: 48px;
    height: 48px;
    border: 2px solid #000;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    width: fit-content;
    height: fit-content;
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    margin-top: 12px;
}
