@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans JP', sans-serif;
  @apply bg-white text-[#111111];
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
}

/* Custom Selection Color */
::selection {
  @apply bg-brand-orange text-white;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
