.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.propertyName {
    font-size: var(--font-size-sm);
    opacity: 0.75;
    color: var(--color);
    min-width: 72px;
    flex: 0 1 auto;
}
