.root {
    display: flex;
    flex-direction: column;
}

.header {
    margin: var(--spacing-xs) var(--spacing-md);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    flex: 0;
    color: var(--foreground-color);
}

.panel {
    flex: 1;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    overflow-y: auto;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--panel-background-color);
}

.properties {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.name {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--spacing-md);
    align-items: center;
    padding: var(--spacing-xs) 0;
    font-size: var(--font-size-sm);
}
