.root {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    background-color: var(--background-color);
    top: var(--spacing-md);
    left: var(--spacing-md);
    padding: var(--spacing-md);
    max-width: 480px;
    max-height: 75%;
    overflow: hidden;
    z-index: var(--z-modal);
}

.title {
    margin: 0px 6px;
    display: flex;
    flex: 0;
    flex-direction: row;
    align-items: center;

    span {
        font-size: medium;
        flex: 1;
    }

    svg {
        width: 16px;
        height: 16px;
        padding: 6px;
        margin: 0 3px;

        &:hover {
            background-color: var(--hover-background-color);
        }
    }
}

.materials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: var(--radius-md);
    background-color: var(--panel-background-color);
    border: 1px solid var(--border-color);
    margin: var(--spacing-sm) 0px;
    padding: var(--spacing-xs);
    min-height: 60px;
    max-height: 120px;
    flex: 0;
    overflow: hidden;
    overflow-y: auto;
}

.material {
    border-radius: var(--radius-md);
    width: 48px;
    height: 48px;
    border: 1px solid gray;
    margin: var(--spacing-xs);
}

.active {
    border: 5px solid var(--primary-color);
}

.properties {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: var(--radius-md);
    background-color: var(--panel-background-color);
    border: 1px solid var(--border-color);
    padding: var(--spacing-md);
    --delete-visiblity: hidden;
    overflow: hidden;
    overflow-y: auto;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-sm);

    button {
        width: 96px;
        height: 28px;
        margin-right: var(--spacing-sm);
        border-radius: var(--radius-md);
        border: 1px solid var(--border-color);
        background-color: var(--panel-background-color);
        &:hover {
            background-color: var(--hover-background-color);
        }
    }
}
