.root {
    margin-top: var(--spacing-sm);
}

.expander {
    display: flex;
    flex-direction: row;
}

.properties {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing-xs);
    border-radius: var(--radius-md);
    position: relative;
    margin-left: var(--spacing-md);

    &:hover {
        --delete-visiblity: visible;
    }

    img {
        width: 96px;
        height: 96px;
        border-radius: var(--radius-sm);
    }

    svg {
        position: absolute;
        background-color: rgba(255, 0, 0, 0.45);
        border-radius: 50%;
        padding: var(--spacing-xs);
        top: 2px;
        right: 2px;
        width: 16px;
        height: 16px;
        visibility: var(--delete-visiblity);
    }
}
