.toast {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0%);
    z-index: var(--z-popover);
    border-radius: 0.8em;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 1.2em;
    padding: 1em;
}

.info {
    color: var(--neutral-0);
}

.error {
    color: var(--danger-color);
}

.warning {
    color: var(--warning-color);
}
