.panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px var(--spacing-sm);
    gap: var(--spacing-12);
}

.title {
    font-weight: bold;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-12);
}

.button {
    padding: 2px 12px;
    font-size: 1em;
    border-radius: 6px;
    color: var(--foreground-color);
    border: 1px solid var(--border-color);
    background-color: var(--control-background-color);

    &:hover {
        background-color: var(--hover-background-color);
    }
}

.icon {
    width: 14px;
    height: 14px;
}

.input {
    margin-left: var(--spacing-sm);
}

.select {
    margin-left: var(--spacing-sm);
    padding: 2px 12px;
    font-size: 1em;
    border-radius: 6px;
    color: var(--foreground-color);
    border: 1px solid var(--border-color);
    background-color: var(--control-background-color);
}

.materialButton {
    flex: 1 1 auto;
    font-size: 1rem;
    padding: 2px var(--spacing-lg);
    outline: none;
    background-color: transparent;

    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin: 0px;

    &:hover {
        background-color: var(--hover-background-color);
    }
}
