.expanderIcon {
    width: 12px;
    height: 12px;
    padding: 2px var(--spacing-xs);
}

.left16px {
    padding-left: var(--spacing-md);
}

.container {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

.header {
    padding: var(--spacing-xs);
    border-radius: var(--radius-xs);
}

.header:hover {
    background-color: var(--hover-background-color);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
