.name {
    flex: 1 1 auto;
    font-size: var(--font-size-xs);
    user-select: none;
    text-wrap: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

.icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    padding: 0px var(--spacing-sm);
}

.parent-hidden {
    opacity: var(--opacity-readonly);
}
