.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--radius-xs);
    padding: var(--spacing-xs);
}

.panel:hover {
    background-color: var(--hover-background-color);
}
