.panel {
    margin: var(--spacing-xs);
}

.selected {
    background-color: var(--hover-background-color);
}

.current {
    outline: 2px solid var(--primary-color);
}

.dragging {
    opacity: var(--opacity-readonly);
    pointer-events: none;
}
