.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-xs);
        user-select: none;

        input {
            width: 12px;
            height: 12px;
        }
    }
}
