.panel {
    background: var(--statusbar-background-color);
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--spacing-md);
    height: 28px;
    box-shadow: var(--shadow-invert);
}

.left {
    flex: 1;

    .tip {
        font-size: var(--font-size-xs);
        margin: var(--spacing-xs) var(--spacing-sm);
        color: var(--statusbar-foreground-color);
        font-weight: var(--font-weight-regular);
    }
}

.right {
    flex: 0 1 auto;
}

@media (max-width: 680px) {
    .right {
        display: none;
    }
}
